<div class="container">
  <ul>
    <li *ngFor="let task of tasks$ | async" (click)="openTaskDialog(task.id)" class="clickable-task">
      <input type="checkbox" [checked]="task.completed" />
      <span [class.completed]="task.completed">{{ task.title }}</span>
    </li>
  </ul>

  <ng-container *ngIf="{
    storeState: (storeState$ | async)!,
    noTasks: (noTasks$ | async)!
  } as asyncData">
    <p *ngIf="asyncData.noTasks">
      No tasks yet! <a routerLink="/new">Add a new one?</a>
    </p>
    <ng-container [ngSwitch]="asyncData.storeState">
      <p *ngSwitchCase="storeStates.Loading">
        Loading tasks... Please wait.
      </p>
      <p *ngSwitchCase="storeStates.Error">
        <ng-container *ngIf="error$ | async as error">
          <span class="error-message">Error: {{ error }}</span>
        </ng-container>
      </p>
      <p *ngSwitchCase="storeStates.Deleting">
        Deleting task... Please wait.
      </p>
      <ng-container *ngSwitchDefault></ng-container>
    </ng-container>
  </ng-container>
</div>