/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');

* {
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    background-color: #FDF0D5;
    color: #003049;
    font-size: 20px;
}

h1 {
    font-family: "Petrona", serif;
    color: #669BBC;
    font-size: 50px;
}

button {
    margin-left: 10px;
    border-radius: 4px;
}

input {
    border-radius: 4px;
}