<div class="container">
    <form [formGroup]="taskForm" (ngSubmit)="addTask()">
        <label>Title:</label>
        <input formControlName="title" placeholder="Title"/>
        <br>
        <span *ngIf="taskForm.get('title')?.invalid">
            Title must have at least 3 characters.
            <br>
        </span>
        <label>Description:</label>
        <input formControlName="description" placeholder="Description"/>
        <br>
        <label>Tags:</label>
        <input formControlName="tags" placeholder="Tags"/>
        <br>
        <span>Tags must be separated by comma.</span>
        <br><br>
        <button type="submit" [disabled]="taskForm.invalid">Add</button>
    </form>
</div>