<ng-container *ngIf="{
    loading: loading$ | async
} as asyncData">
    <form *ngIf="taskForm" [formGroup]="taskForm">
        <label>
            <input type="checkbox" formControlName="completed"/>
            Completed 
        </label>
        <br>

        <label>
            Title:
            <input type="text" formControlName="title" placeholder="Title"/>
        </label>
        <br>

        <label>
            Description
            <input type="text" formControlName="description" placeholder="Description"/>
        </label>
        <br>

        <label>Tags:
            <input formControlName="tags" placeholder="Tags (comma separated)"/>
        </label>

        <br>
        <button type="button" (click)="saveTask()" [disabled]="asyncData.loading">Save</button>
        <button type="button" (click)="deleteTask()" [disabled]="asyncData.loading">Delete</button>
        <p *ngIf="asyncData.loading">
            Loading... Please wait!
        </p>
    </form>
</ng-container>
