<div *ngIf="taskId">
    <p>
        <input type="checkbox" [checked]="task?.completed" (change)="task && toggleTask(task)" />
        <b><span>{{ task?.title }} </span></b>
        <br>
        <span>Description: {{ task?.description }}</span>
        <br>
        <span>Created At: {{ task?.createdAt }}</span>
        <br>
        <span>Updated At: {{ task?.updatedAt }}</span>
        <br>
        <ng-container *ngIf="task && task.tags && task.tags.length > 0">
            <span>Tags: </span>
            <span *ngFor="let tag of task?.tags; let last = last">{{ tag }}
                <span *ngIf="!last">, </span>
            </span>
        </ng-container>
        <br>
        <button (click)="task && deleteTask(task)">Delete</button>
</p>
</div>